In [ ]:
from bs4 import BeautifulSoup
import requests
url= BeautifulSoup('https://www.worldometers.info/coronavirus/','html.parser')
data=requests.get(url)
data

/usr/local/lib/python3.7/dist-packages/bs4/__init__.py:336: UserWarning: "https://www.worldometers.info/coronavirus/" looks like a URL. Beautiful Soup is not an HTTP client. You should probably use an HTTP client like requests to get the document behind the URL, and feed that document to Beautiful Soup.
  ' that document to Beautiful Soup.' % decoded_markup

In [ ]:
source=data.text
lxml_data=BeautifulSoup(source, "lxml")
lxml_data

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]--><!--[if IE 9]> <html lang="en" class="ie9"> <![endif]--><!--[if !IE]><!--><html lang="en">
<!--<![endif]-->
<head>
<meta charset="utf-8"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<title>COVID Live - Coronavirus Statistics - Worldometer</title>
<meta content="Live statistics and coronavirus news tracking the number of confirmed cases, recovered patients, tests, and death toll due to the COVID-19 coronavirus from Wuhan, China. Coronavirus counter with new cases, deaths, and number of tests per 1 Million population. Historical data and info. Daily charts, graphs, news and updates" name="description"/>
<link href="/favicon/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
<link href="/favicon/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57"/>
<link href="/favicon/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60"/>
<link href="/favicon/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72"/>
<link href="/favicon/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76"/>
<link href="/favicon/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114"/>
<link href="/favicon/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120"/>
<link href="/favicon/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144"/>
<link href="/favicon/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152"/>
<link href="/favicon/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180"/>
<link href="/favicon/android-icon-192x192.png" rel="icon" sizes="192x192" type="image/png"/>
<link href="/favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
<link href="/favicon/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png"/>
<link href="/favicon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
<link href="/favicon/manifest.json" rel="manifest"/>
<meta content="#ffffff" name="msapplication-TileColor"/>
<meta content="/favicon/ms-icon-144x144.png" name="msapplication-TileImage"/>
<meta content="#ffffff" name="theme-color"/>
<meta content="http://www.worldometers.info/img/worldometers-fb.jpg" property="og:image"/>
<link href="/css/bootstrap.min.css" rel="stylesheet"/>
<link href="/wm16.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/ie10-viewport-bug-workaround.js"></script>
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css"/>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js" type="text/javascript"></script>
<script class="init" type="text/javascript">
		$.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#example2').dataTable( {
        "scrollCollapse": true,
		"sDom": '<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
	</script>
<script class="init" type="text/javascript">
		$.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#table3').dataTable( {
        "scrollCollapse": true,
				 "order": [[ 1, 'desc' ]],
		"sDom": '<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
	</script>
<script class="init" type="text/javascript">
		$.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#example').dataTable( {
        "scrollCollapse": true,
		"searching": false,

		"sDom": '<"top">rt<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
	</script>
<script class="init" type="text/javascript">
$(document).ready(function() {
	$('#popbycountry').dataTable();
} );
	</script>
<script data-cfasync="false" type="text/javascript">
  var freestar = freestar || {};
  freestar.hitTime = Date.now();
  freestar.queue = freestar.queue || [];
  freestar.config = freestar.config || {};
  freestar.debug = window.location.search.indexOf('fsdebug') === -1 ? false : true;
  freestar.config.enabled_slots = [];
  !function(a,b){var c=b.getElementsByTagName("script")[0],d=b.createElement("script"),e="https://a.pub.network/worldometers-info";e+=freestar.debug?"/qa/pubfig.min.js":"/pubfig.min.js",d.async=!0,d.src=e,c.parentNode.insertBefore(d,c)}(window,document);
</script>
</head>
<body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1438574-2', 'auto');
  ga('send', 'pageview');
</script>
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-1438574-30"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-1438574-30');
</script>
<link href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" rel="stylesheet" type="text/css"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#efefef",
      "text": "#404040"
    },
    "button": {
      "background": "#8ec760",
      "text": "#ffffff"
    }
  },
  "theme": "classic",
  "content": {
    "href": "http://www.worldometers.info/policy/"
  }
})});
</script>
<style type="text/css">
    .style1 {
        color: #666666
    }
</style>
<div class="navbar navbar-default">
<div class="container">
<div class="navbar-header">
<div class="logo"><a class="navbar-brand" href="/"><img border="0" src="/img/worldometers-logo.gif" title="Worldometer"/></a></div>
<button class="navbar-toggle" data-target="#navbar-main" data-toggle="collapse" type="button">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
</div>
<div class="navbar-collapse collapse" id="navbar-main">
<ul class="nav navbar-nav">
<li><a href="/coronavirus/"><span style="color:#FF9900; font-weight:bold">Coronavirus</span></a></li>
<li><a href="/population/">Population</a></li>
</ul>
</div>
</div>
</div>
<div class="container">
<div class="row">
<div style="text-align:left; margin-bottom:10px">
<script async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" data-ad-client="ca-pub-3701697624350410" data-ad-slot="3287840995" style="display:inline-block;width:970px;height:90px"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="row"> <div class="col-md-8">
<div class="content-inner">
<style>
    .number-table {
        font-size: 20px;
        font-weight: bold
    }

    .number-table-main {
        font-size: 24px;
        font-weight: bold
    }
</style>
<script src="/js/highcharts.js"></script>
<style type="text/css">
    .source {}

    .style2 {
        color: #FF0000
    }

    .style4 {
        color: #FF0000;
        font-weight: bold;
    }

    .style6 {
        font-size: 12px;
        color: #bbb;
        font-weight: bold;
    }

    .source1 {
        font-size: 12px;
        color: #bbb;
    }

    .source1 {
        font-size: 12px;
        color: #bbb;
    }

    .source11 {
        font-size: 12px;
        color: #bbb;
    }

    .source111 {}

    .source1111 {
        font-size: 12px;
        color: #bbb;
    }


    .new_badge {

        position: absolute;
        font-size: 12px;
        top: -5px;
        right: -26px;
        background-color: #8ACA2B;
        color: white;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 4px;
        ;
    }

    .new_badge_link {

        background-color: #8ACA2B;
        color: white !important;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 4px;
        ;
    }
</style>
<div class="label-counter" id="page-top">COVID-19 Coronavirus Pandemic</div>
<div style="font-size:13px; color:#999; margin-top:5px; text-align:center">Last updated: April 13, 2022, 11:40 GMT</div>
<div style="margin-top:20px; text-align:center; font-size:14px"><a class="new_badge_link" href="/coronavirus/weekly-trends/" style="display: inline-block; position:relative;">Weekly Trends</a> - <a href="/coronavirus/worldwide-graphs/">Graphs</a> - <a href="#countries">Countries</a> - <a href="#news">News</a></div>
<div id="maincounter-wrap" style="margin-top:15px">
<h1>Coronavirus Cases:</h1>
<div class="maincounter-number">
<span style="color:#aaa">501,230,496 </span>
</div>
</div>
<div style="text-align:center "><a href="#countries">view by country</a></div>
<div id="maincounter-wrap" style="margin-top:15px">
<h1>Deaths:</h1>
<div class="maincounter-number">
<span>6,210,349</span>
</div>
</div>
<div id="maincounter-wrap" style="margin-top:15px;">
<h1>Recovered:</h1>
<div class="maincounter-number" style="color:#8ACA2B ">
<span>451,445,602</span>
</div>
</div>
<div style="margin-top:50px;"></div>
<style>
    .panel_flip {
        position: relative;
        height: 100%;
    }

    .panel_front {

        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel_back {

        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel_flip.flip .panel_front {

        z-index: 900;
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
    }

    .panel_flip.flip .panel_back {

        z-index: 1000;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
    }

    .collapse_button {

        position: absolute;
        right: 10px;
        pointer-events: none;
        color: #70757a !important;
        height: 24px;
        width: 24px;
        line-height: 24px;
    }

    .collapse_button svg {
        display: block;
        height: 100%;
        width: 100%;
        fill: currentColor;
    }

    .rotate_180 {

        transform: rotate(180deg);
    }

    .panel_clickable {

        cursor: pointer;
    }
</style>
<script>
    var do_not_slide = false;
    $(function() {

        $('.flip_cases_front').on('click', function() {


            $(this).parent().parent().addClass('flip');
        });

        $('.flip_cases_back').on('click', function() {


            $(this).parent().parent().removeClass('flip');
        });


        $('.collapse').on('show.bs.collapse', function(el) {


            var collapse_button = $(el.target).parent().find('.collapse_button');
            collapse_button.addClass('rotate_180');

            if (do_not_slide) {

                return;
            }

            do_not_slide = true;
            if ($(el.target).attr('id') == 'panel_active') {

                $('#panel_closed').collapse('show');
            } else {

                $('#panel_active').collapse('show');
            }

            do_not_slide = false;
        });

        $('.collapse').on('hide.bs.collapse', function(el) {

            var collapse_button = $(el.target).parent().find('.collapse_button');
            collapse_button.removeClass('rotate_180');


            if (do_not_slide) {

                return;
            }


            do_not_slide = true;
            if ($(el.target).attr('id') == 'panel_active') {

                $('#panel_closed').collapse('hide');
            } else {

                $('#panel_active').collapse('hide');
            }

            do_not_slide = false;

        });



    });
</script>
<div class="col-md-6">
<div class="panel panel-default">
<div aria-controls="panel_active" aria-expanded="false" class="panel_clickable panel-heading" data-toggle="collapse" href="#panel_active" style="text-align:center;position:relative;">
<span class="panel-title" style="font-size:18px; text-transform:uppercase; font-weight:100">
 Active Cases
</span>
<span class="collapse_button"><svg focusable="false" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
<path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"></path>
</svg></span>
</div>
<div class="collapse" id="panel_active">
<div class="panel-body" style="text-align:center;min-height:220px;">
<div class="panel_flip">
<div class="panel_front" style="width:100%;height:100%;">
<div class="number-table-main">43,574,545</div>
<div style="font-size:13.5px">Currently Infected Patients</div>
<div style="padding-top:20px;position:relative;text-align:center; ">
<div style="float:left; text-align:center">
<span class="number-table" style="color:#8080FF">43,531,194</span> (<strong>99.9</strong>%)
<div style="font-size:13px">in Mild Condition</div><br/>
</div>
<div style="float:right; text-align:center"><span class="number-table" style="color:red ">43,351</span> (<strong>0.1</strong>%)
<div style="font-size:13px">Serious or Critical</div><br/>
</div>
</div>
<a class="flip_cases_front" href="javascript: void(0);" style="clear: both;display: block;padding-top:20px;width:100%;">Show Graph</a>
</div>
<div class="panel_back" style="width:100%;height:100%;">
<div id="total-currently-infected-linear"></div>
<script type="text/javascript">
    Highcharts.setOptions({
        lang: {
            thousandsSep: ','
        }
    });

    var y_labels = ['0', '20,000', '40,000', '60,000', '140', '180', '200', '240'];
    Highcharts.chart('total-currently-infected-linear', {


        chart: {
            type: 'line',
            height: (9 / 16 * 100) + '%'
        },

        title: {
            text: null

        },

        /*subtitle: {
            text: '(Number of Infected People)'
        },*/

        xAxis: {

In [ ]:
table_code=lxml_data.table
tags=table_code.find_all('tr')

In [ ]:
data=[]
for tag in tags:
  data.append(tag.text.split('\n')[1:-1])
data

[['#',
  'Country,Other',
  'TotalCases',
  'NewCases',
  'TotalDeaths',
  'NewDeaths',
  'TotalRecovered',
  'NewRecovered',
  'ActiveCases',
  'Serious,Critical',
  'Tot\xa0Cases/1M pop',
  'Deaths/1M pop',
  'TotalTests',
  'Tests/',
  '1M pop',
  '',
  'Population',
  'Continent',
  '1 Caseevery X ppl1 Deathevery X ppl1 Testevery X ppl',
  'New Cases/1M pop',
  'New Deaths/1M pop',
  'Active Cases/1M pop'],
 ['',
  '',
  'North America',
  '',
  '97,157,558',
  '+648',
  '1,450,048',
  '+78',
  '93,335,899',
  '+1,147',
  '2,371,611',
  '7,112',
  '',
  '',
  '',
  '',
  '',
  'North America',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['',
  '',
  'Asia',
  '',
  '144,539,852',
  '+280,416',
  '1,412,932',
  '+517',
  '123,366,463',
  '+85,289',
  '19,760,457',
  '14,530',
  '',
  '',
  '',
  '',
  '',
  'Asia',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['',
  '',
  'South America',
  '',
  '56,452,910',
  '+142',
  '1,291,140',
  '',
  '52,341,896',
  '+645',
  '2,819,874',
  '11,123',
  '',
  '',
  '',
  '',
  '',
  'South America',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['',
  '',
  'Europe',
  '',
  '184,979,862',
  '+42,170',
  '1,793,099',
  '+453',
  '165,696,180',
  '+357,496',
  '17,490,583',
  '9,468',
  '',
  '',
  '',
  '',
  '',
  'Europe',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['',
  '',
  'Oceania',
  '',
  '6,285,595',
  '+63,130',
  '9,779',
  '+53',
  '5,654,498',
  '+12,753',
  '621,318',
  '161',
  '',
  '',
  '',
  '',
  '',
  'Australia/Oceania',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['',
  '',
  'Africa',
  '',
  '11,813,998',
  '+2',
  '253,336',
  '',
  '11,049,960',
  '+3',
  '510,702',
  '957',
  '',
  '',
  '',
  '',
  '',
  'Africa',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['',
  '',
  '',
  '',
  '721',
  '',
  '15',
  '',
  '706',
  '',
  '0',
  '0',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['',
  'World',
  '501,230,496',
  '+386,508',
  '6,210,349',
  '+1,101',
  '451,445,602',
  '+457,333',
  '43,574,545',
  '43,351',
  '64,303',
  '796.7',
  '',
  '',
  '',
  'All',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['1',
  'USA',
  '82,133,342',
  '',
  '1,013,044 ',
  '',
  '80,015,081',
  '',
  '1,105,217',
  '1,592',
  '245,579',
  '3,029',
  '992,445,691',
  '2,967,412',
  '334,448,237 ',
  'North America',
  '43300',
  '',
  '',
  '3,305'],
 ['2',
  'India',
  '43,038,016',
  '',
  '521,746 ',
  '',
  '42,505,410',
  '',
  '10,860',
  '698',
  '30,652',
  '372',
  '794,525,202',
  '565,866',
  '1,404,087,743 ',
  'Asia',
  '332,6912',
  '',
  '',
  '8'],
 ['3',
  'Brazil',
  '30,183,929',
  '',
  '661,552 ',
  '',
  '29,126,303',
  '',
  '396,074',
  '8,318',
  '140,233',
  '3,074',
  '63,776,166',
  '296,300',
  '215,241,599 ',
  'South America',
  '73253',
  '',
  '',
  '1,840'],
 ['4',
  'France',
  '27,163,629',
  '',
  '143,625 ',
  '',
  '24,344,051',
  '',
  '2,675,953',
  '1,541',
  '414,523',
  '2,192',
  '260,504,402',
  '3,975,351',
  '65,529,910 ',
  'Europe',
  '24560',
  '',
  '',
  '40,836'],
 ['5',
  'Germany',
  '22,936,514',
  '',
  '132,599 ',
  '',
  '19,179,300',
  '+286,200',
  '3,624,615',
  '1,980',
  '272,213',
  '1,574',
  '122,332,384',
  '1,451,852',
  '84,259,518 ',
  'Europe',
  '46351',
  '',
  '',
  '43,017'],
 ['6',
  'UK',
  '21,679,280',
  '',
  '170,395 ',
  '',
  '19,891,817',
  '',
  '1,617,068',
  '378',
  '316,398',
  '2,487',
  '511,253,697',
  '7,461,482',
  '68,519,051 ',
  'Europe',
  '34020',
  '',
  '',
  '23,600'],
 ['7',
  'Russia',
  '18,030,579',
  '+11,754',
  '372,512 ',
  '+267',
  '17,299,263',
  '+28,135',
  '358,804',
  '2,300',
  '123,459',
  '2,551',
  '273,400,000',
  '1,872,019',
  '146,045,544 ',
  'Europe',
  '83921',
  '80',
  '2',
  '2,457'],
 ['8',
  'S. Korea',
  '15,830,644',
  '+195,370',
  '20,034 ',
  '+184',
  'N/A',
  'N/A',
  'N/A',
  '1,014',
  '308,304',
  '390',
  '15,804,065',
  '307,786',
  '51,347,510 ',
  'Asia',
  '32,5633',
  '3,805',
  '4',
  '289,032'],
 ['9',
  'Italy',
  '15,404,809',
  '',
  '161,032 ',
  '',
  '14,015,032',
  '',
  '1,228,745',
  '463',
  '255,452',
  '2,670',
  '207,155,729',
  '3,435,190',
  '60,304,008 ',
  'Europe',
  '43740',
  '',
  '',
  '20,376'],
 ['10',
  'Turkey',
  '14,972,502',
  '',
  '98,462 ',
  '',
  '14,673,980',
  '',
  '200,060',
  '975',
  '174,200',
  '1,146',
  '156,329,493',
  '1,818,843',
  '85,949,948 ',
  'Asia',
  '68731',
  '',
  '',
  '2,328'],
 ['11',
  'Spain',
  '11,662,214',
  '',
  '103,266 ',
  '',
  '11,120,708',
  '',
  '438,240',
  '368',
  '249,262',
  '2,207',
  '471,036,328',
  '10,067,692',
  '46,786,925 ',
  'Europe',
  '44530',
  '',
  '',
  '9,367'],
 ['12',
  'Vietnam',
  '10,272,964',
  '',
  '42,858 ',
  '',
  '8,757,107',
  '',
  '1,472,999',
  '1,237',
  '103,879',
  '433',
  '85,106,796',
  '860,593',
  '98,893,226 ',
  'Asia',
  '102,3071',
  '',
  '',
  '14,895'],
 ['13',
  'Argentina',
  '9,056,203',
  '',
  '128,268 ',
  '',
  '8,888,514',
  '',
  '39,421',
  '424',
  '197,166',
  '2,793',
  '35,657,472',
  '776,311',
  '45,931,949 ',
  'South America',
  '53581',
  '',
  '',
  '858'],
 ['14',
  'Netherlands',
  '8,001,830',
  '',
  '22,116 ',
  '',
  '7,146,067',
  '',
  '833,647',
  '101',
  '465,164',
  '1,286',
  '21,107,399',
  '1,227,019',
  '17,202,175 ',
  'Europe',
  '27781',
  '',
  '',
  '48,462'],
 ['15',
  'Iran',
  '7,199,861',
  '+2,356',
  '140,711 ',
  '+33',
  '6,930,509',
  '+3,467',
  '128,641',
  '1,376',
  '83,816',
  '1,638',
  '50,079,995',
  '582,996',
  '85,901,102 ',
  'Asia',
  '126102',
  '27',
  '0.4',
  '1,498'],
 ['16',
  'Japan',
  '7,124,030',
  '+51,331',
  '28,765 ',
  '+44',
  '6,591,109',
  '+44,733',
  '504,156',
  '468',
  '56,635',
  '229',
  '44,996,843',
  '357,716',
  '125,789,190 ',
  'Asia',
  '184,3733',
  '408',
  '0.3',
  '4,008'],
 ['17',
  'Colombia',
  '6,088,619',
  '',
  '139,729 ',
  '',
  '5,921,750',
  '',
  '27,140',
  '342',
  '117,438',
  '2,695',
  '34,183,285',
  '659,329',
  '51,845,560 ',
  'South America',
  '93712',
  '',
  '',
  '523'],
 ['18',
  'Indonesia',
  '6,036,909',
  '+1,551',
  '155,746 ',
  '+29',
  '5,814,688',
  '+3,022',
  '66,475',
  '2,771',
  '21,664',
  '559',
  '93,593,555',
  '335,873',
  '278,657,588 ',
  'Asia',
  '461,7893',
  '6',
  '0.1',
  '239'],
 ['19',
  'Poland',
  '5,981,486',
  '+1,269',
  '115,736 ',
  '+40',
  '5,333,900',
  '+84',
  '531,850',
  '268',
  '158,353',
  '3,064',
  '35,895,344',
  '950,290',
  '37,773,030 ',
  'Europe',
  '63261',
  '34',
  '1',
  '14,080'],
 ['20',
  'Mexico',
  '5,723,862',
  '+648',
  '323,805 ',
  '+78',
  '5,024,561',
  '+1,147',
  '375,496',
  '4,798',
  '43,581',
  '2,465',
  '15,683,615',
  '119,415',
  '131,337,245 ',
  'North America',
  '234068',
  '5',
  '0.6',
  '2,859'],
 ['21',
  'Australia',
  '5,206,999',
  '+53,380',
  '6,648 ',
  '+39',
  '4,692,067',
  '',
  '508,284',
  '126',
  '200,077',
  '255',
  '67,955,995',
  '2,611,177',
  '26,025,040 ',
  'Australia/Oceania',
  '53,9150',
  '2,051',
  '1',
  '19,531'],
 ['22',
  'Ukraine',
  '4,987,285',
  '',
  '108,167 ',
  '',
  'N/A',
  'N/A',
  'N/A',
  '177',
  '115,267',
  '2,500',
  '19,521,252',
  '451,177',
  '43,267,404 ',
  'Europe',
  '94002',
  '',
  '',
  '18,977'],
 ['23',
  'Malaysia',
  '4,342,559',
  '',
  '35,341 ',
  '',
  '4,180,763',
  '',
  '126,455',
  '151',
  '131,187',
  '1,068',
  '57,608,005',
  '1,740,316',
  '33,102,028 ',
  'Asia',
  '89371',
  '',
  '',
  '3,820'],
 ['24',
  'Austria',
  '4,016,540',
  '+12,471',
  '16,324 ',
  '+38',
  '3,839,507',
  '+20,269',
  '160,709',
  '190',
  '441,493',
  '1,794',
  '179,853,312',
  '19,769,268',
  '9,097,621 ',
  'Europe',
  '25570',
  '1,371',
  '4',
  '17,665'],
 ['25',
  'Israel',
  '4,011,666',
  '',
  '10,601 ',
  '',
  '3,941,841',
  '',
  '59,224',
  '229',
  '430,159',
  '1,137',
  '41,373,364',
  '4,436,346',
  '9,326,000 ',
  'Asia',
  '28800',
  '',
  '',
  '6,350'],
 ['26',
  'Thailand',
  '3,948,869',
  '+23,015',
  '26,398 ',
  '+106',
  '3,689,792',
  '+27,626',
  '232,679',
  '1,496',
  '56,323',
  '377',
  '17,270,775',
  '246,335',
  '70,110,896 ',
  'Asia',
  '182,6564',
  '328',
  '2',
  '3,319'],
 ['27',
  'Belgium',
  '3,943,831',
  '',
  '31,079 ',
  '',
  '3,617,043',
  '',
  '295,709',
  '173',
  '337,681',
  '2,661',
  '33,220,032',
  '2,844,385',
  '11,679,161 ',
  'Europe',
  '33760',
  '',
  '',
  '25,319'],
 ['28',
  'Czechia',
  '3,872,522',
  '+4,034',
  '39,933 ',
  '+3',
  '3,792,591',
  '+2,219',
  '39,998',
  '69',
  '360,427',
  '3,717',
  '54,962,034',
  '5,115,484',
  '10,744,249 ',
  'Europe',
  '32690',
  '375',
  '0.3',
  '3,723'],
 ['29',
  'South Africa',
  '3,733,919',
  '',
  '100,116 ',
  '',
  '3,622,097',
  '',
  '11,706',
  '175',
  '61,579',
  '1,651',
  '24,094,335',
  '397,361',
  '60,635,919 ',
  'Africa',
  '166063',
  '',
  '',
  '193'],
 ['30',
  'Portugal',
  '3,697,653',
  '',
  '21,958 ',
  '',
  'N/A',
  'N/A',
  'N/A',
  '61',
  '364,519',
  '2,165',
  '40,534,335',
  '3,995,919',
  '10,143,934 ',
  'Europe',
  '34620',
  '',
  '',
  '78,817'],
 ['31',
  'Philippines',
  '3,682,083',
  '+233',
  '59,891 ',
  '+113',
  '3,597,058',
  '+1,241',
  '25,134',
  '289',
  '32,826',
  '534',
  '29,224,500',
  '260,538',
  '112,169,737 ',
  'Asia',
  '301,8734',
  '2',
  '1',
  '224'],
 ['32',
  'Canada',
  '3,590,601',
  '',
  '38,095 ',
  '',
  '3,356,639',
  '',
  '195,867',
  '407',
  '93,677',
  '994',
  '60,047,384',
  '1,566,608',
  '38,329,563 ',
  'North America',
  '111,0061',
  '',
  '',
  '5,110'],
 ['33',
  'Peru',
  '3,552,467',
  '',
  '212,528 ',
  '',
  'N/A',
  'N/A',
  'N/A',
  '378',
  '105,143',
  '6,290',
  '29,255,017',
  '865,865',
  '33,787,042 ',
  'South America',
  '101591',
  '',
  '',
  '47,926'],
 ['34',
  'Switzerland',
  '3,551,790',
  '',
  '13,767 ',
  '',
  '3,105,701',
  '',
  '432,322',
  '103',
  '405,133',
  '1,570',
  '20,548,491',
  '2,343,852',
  '8,766,974 ',
  'Europe',
  '26370',
  '',
  '',
  '49,313'],
 ['35',
  'Chile',
  '3,515,878',
  '',
  '57,094 ',
  '',
  '3,244,653',
  '',
  '214,131',
  '414',
  '181,161',
  '2,942',
  '36,191,093',
  '1,864,801',
  '19,407,481 ',
  'South America',
  '63401',
  '',
  '',
  '11,033'],
 ['36',
  'Greece',
  '3,195,887',
  '',
  '28,274 ',
  '',
  '3,002,224',
  '',
  '165,389',
  '356',
  '309,299',
  '2,736',
  '76,926,444',
  '7,444,962',
  '10,332,685 ',
  'Europe',
  '33650',
  '',
  '',
  '16,006'],
 ['37',
  'Denmark',
  '2,940,998',
  '',
  '5,932 ',
  '',
  '2,898,120',
  '',
  '36,946',
  '22',
  '504,597',
  '1,018',
  '127,005,063',
  '21,790,684',
  '5,828,411 ',
  'Europe',
  '29830',
  '',
  '',
  '6,339'],
 ['38',
  'Romania',
  '2,877,544',
  '+1,602',
  '65,285 ',
  '+27',
  '2,606,660',
  '',
  '205,599',
  '253',
  '151,371',
  '3,434',
  '22,396,439',
  '1,178,145',
  '19,009,910 ',
  'Europe',
  '72911',
  '84',
  '1',
  '10,815'],
 ['39',
  'Sweden',
  '2,491,980',
  '',
  '18,472 ',
  '',
  '2,450,948',
  '+405',
  '22,560',
  '22',
  '244,047',
  '1,809',
  '18,445,431',
  '1,806,418',
  '10,211,053 ',
  'Europe',
  '45531',
  '',
  '',
  '2,209'],
 ['40',
  'Iraq',
  '2,322,303',
  '',
  '25,186 ',
  '',
  '2,289,838',
  '',
  '7,279',
  '35',
  '55,526',
  '602',
  '18,403,689',
  '440,028',
  '41,823,873 ',
  'Asia',
  '181,6612',
  '',
  '',
  '174'],
 ['41',
  'Serbia',
  '1,991,620',
  '',
  '15,899 ',
  '',
  '1,948,245',
  '',
  '27,476',
  '23',
  '229,584',
  '1,833',
  '9,326,796',
  '1,075,147',
  '8,674,900 ',
  'Europe',
  '45461',
  '',
  '',
  '3,167'],
 ['42',
  'Bangladesh',
  '1,952,162',
  '+31',
  '29,124 ',
  '',
  '1,889,879',
  '+274',
  '33,159',
  '1,283',
  '11,648',
  '174',
  '13,905,661',
  '82,968',
  '167,601,817 ',
  'Asia',
  '865,75512',
  '0.2',
  '',
  '198'],
 ['43',
  'Hungary',
  '1,876,946',
  '+2,740',
  '45,838 ',
  '+26',
  '1,742,051',
  '+6,122',
  '89,057',
  '47',
  '195,173',
  '4,766',
  '11,233,362',
  '1,168,097',
  '9,616,809 ',
  'Europe',
  '52101',
  '285',
  '3',
  '9,261'],
 ['44',
  'Slovakia',
  '1,757,117',
  '+2,538',
  '19,643 ',
  '+25',
  '1,683,932',
  '+6,767',
  '53,542',
  '130',
  '321,561',
  '3,595',
  '6,995,626',
  '1,280,233',
  '5,464,336 ',
  'Europe',
  '32781',
  '464',
  '5',
  '9,798'],
 ['45',
  'Jordan',
  '1,694,216',
  '',
  '14,048 ',
  '',
  '1,678,941',
  '',
  '1,227',
  '124',
  '163,173',
  '1,353',
  '16,670,254',
  '1,605,544',
  '10,382,931 ',
  'Asia',
  '67391',
  '',
  '',
  '118'],
 ['46',
  'Georgia',
  '1,652,235',
  '+266',
  '16,781 ',
  '+2',
  '1,632,194',
  '+348',
  '3,260',
  '',
  '415,596',
  '4,221',
  '16,627,678',
  '4,182,459',
  '3,975,575 ',
  'Asia',
  '22370',
  '67',
  '0.5',
  '820'],
 ['47',
  'Pakistan',
  '1,526,829',
  '+101',
  '30,362 ',
  '',
  '1,487,073',
  '+113',
  '9,394',
  '262',
  '6,682',
  '133',
  '27,805,841',
  '121,687',
  '228,503,165 ',
  'Asia',
  '1507,5268',
  '0.4',
  '',
  '41'],
 ['48',
  'Ireland',
  '1,494,814',
  '',
  '6,903 ',
  '',
  '1,344,730',
  '',
  '143,181',
  '53',
  '296,844',
  '1,371',
  '11,942,846',
  '2,371,641',
  '5,035,689 ',
  'Europe',
  '37290',
  '',
  '',
  '28,433'],
 ['49',
  'Norway',
  '1,417,631',
  '',
  '2,667 ',
  '',
  'N/A',
  'N/A',
  'N/A',
  '20',
  '257,916',
  '485',
  '11,002,430',
  '2,001,719',
  '5,496,490 ',
  'Europe',
  '42,0610',
  '',
  '',
  '241,247'],
 ['50',
  'Kazakhstan',
  '1,305,327',
  '+12',
  '13,660 ',
  '',
  '1,290,720',
  '+41',
  '947',
  '24',
  '68,073',
  '712',
  '11,575,012',
  '603,640',
  '19,175,355 ',
  'Asia',
  '151,4042',
  '0.6',
  '',
  '49'],
 ['51',
  'Hong Kong',
  '1,193,023',
  '',
  '8,886 ',
  '',
  'N/A',
  'N/A',
  'N/A',
  '115',
  '156,875',
  '1,168',
  '44,972,952',
  '5,913,643',
  '7,604,949 ',
  'Asia',
  '68560',
  '',
  '',
  '153,966'],
 ['52',
  'Morocco',
  '1,164,135',
  '',
  '16,061 ',
  '',
  '1,147,355',
  '',
  '719',
  '293',
  '30,889',
  '426',
  '11,237,010',
  '298,166',
  '37,687,097 ',
  'Africa',
  '322,3463',
  '',
  '',
  '19'],
 ['53',
  'Bulgaria',
  '1,147,165',
  '',
  '36,740 ',
  '',
  '943,649',
  '',
  '166,776',
  '126',
  '167,332',
  '5,359',
  '9,715,339',
  '1,417,138',
  '6,855,607 ',
  'Europe',
  '61871',
  '',
  '',
  '24,327'],
 ['54',
  'Singapore',
  '1,145,121',
  '',
  '1,307 ',
  '',
  '1,076,802',
  '',
  '67,012',
  '19',
  '193,041',
  '220',
  '23,611,604',
  '3,980,367',
  '5,932,017 ',
  'Asia',
  '54,5390',
  '',
  '',
  '11,297'],
 ['55',
  'Croatia',
  '1,110,989',
  '+1,142',
  '15,707 ',
  '+5',
  '1,089,283',
  '+467',
  '5,999',
  '27',
  '273,620',
  '3,868',
  '4,731,537',
  '1,165,308',
  '4,060,332 ',
  'Europe',
  '42591',
  '281',
  '1',
  '1,477'],
 ['56',
  'Cuba',
  '1,097,675',
  '',
  '8,519 ',
  '',
  '1,086,730',
  '',
  '2,426',
  '23',
  '97,016',
  '753',
  '12,920,253',
  '1,141,936',
  '11,314,344 ',
  'North America',
  '101,3281',
  '',
  '',
  '214'],
 ['57',
  'Lebanon',
  '1,094,911',
  '',
  '10,350 ',
  '',
  '1,074,251',
  '',
  '10,310',
  '186',
  '161,701',
  '1,529',
  '4,795,578',
  '708,233',
  '6,771,191 ',
  'Asia',
  '66541',
  '',
  '',
  '1,523'],
 ['58',
  'Lithuania',
  '1,045,085',
  '+1,516',
  '8,988 ',
  '+6',
  '997,978',
  '+2,735',
  '38,119',
  '47',
  '393,646',
  '3,385',
  '8,157,182',
  '3,072,519',
  '2,654,884 ',
  'Europe',
  '32950',
  '571',
  '2',
  '14,358'],
 ['59',
  'Tunisia',
  '1,038,668',
  '',
  '28,509 ',
  '',
  'N/A',
  'N/A',
  'N/A',
  '29',
  '86,282',
  '2,368',
  '4,547,755',
  '377,779',
  '12,038,131 ',
  'Africa',
  '124223',
  '',
  '',
  '-1,134.31'],
 ['60',
  'Slovenia',
  '990,719',
  '',
  '6,541 ',
  '',
  '956,300',
  '',
  '27,878',
  '32',
  '476,434',
  '3,146',
  '2,629,203',
  '1,264,377',
  '2,079,445 ',
  'Europe',
  '23181',
  '',
  '',
  '13,406'],
 ['61',
  'Nepal',
  '978,616',
  '',
  '11,951 ',
  '',
  '966,111',
  '',
  '554',
  '',
  '32,548',
  '397',
  '5,583,138',
  '185,691',
  '30,066,771 ',
  'Asia',
  '312,5165',
  '',
  '',
  '18'],
 ['62',
  'Belarus',
  '971,649',
  '+899',
  '6,885 ',
  '+3',
  '928,536',
  '',
  '36,228',
  '',
  '102,887',
  '729',
  '12,987,175',
  '1,375,206',
  '9,443,805 ',
  'Europe',
  '101,3721',
  '95',
  '0.3',
  '3,836'],
 ['63',
  'Finland',
  '920,692',
  '',
  '3,334 ',
  '',
  '46,000',
  '',
  '871,358',
  '33',
  '165,711',
  '600',
  '10,512,930',
  '1,892,176',
  '5,555,999 ',
  'Europe',
  '61,6661',
  '',
  '',
  '156,832'],
 ['64',
  'Bolivia',
  '903,584',
  '+107',
  '21,899 ',
  '',
  '850,086',
  '+655',
  '31,599',
  '220',
  '75,578',
  '1,832',
  '2,688,875',
  '224,905',
  '11,955,630 ',
  'South America',
  '135464',
  '9',
  '',
  '2,643'],
 ['65',
  'Uruguay',
  '894,630',
  '',
  '7,186 ',
  '',
  '884,306',
  '',
  '3,138',
  '29',
  '255,967',
  '2,056',
  '6,077,462',
  '1,738,852',
  '3,495,101 ',
  'South America',
  '44861',
  '',
  '',
  '898'],
 ['66',
  'UAE',
  '894,523',
  '+237',
  '2,302 ',
  '',
  '875,602',
  '+486',
  '16,619',
  '',
  '88,545',
  '228',
  '151,396,113',
  '14,985,997',
  '10,102,505 ',
  'Asia',
  '114,3890',
  '23',
  '',
  '1,645'],
 ['67',
  'Ecuador',
  '865,263',
  '',
  '35,508 ',
  '',
  'N/A',
  'N/A',
  'N/A',
  '759',
  '47,756',
  '1,960',
  '2,470,170',
  '136,334',
  '18,118,525 ',
  'South America',
  '215107',
  '',
  '',
  '21,297'],
 ['68',
  'Costa Rica',
  '844,892',
  '',
  '8,357 ',
  '',
  '825,599',
  '',
  '10,936',
  '44',
  '163,211',
  '1,614',
  '4,163,300',
  '804,240',
  '5,176,690 ',
  'North America',
  '66191',
  '',
  '',
  '2,113'],
 ['69',
  'Guatemala',
  '836,234',
  '',
  '17,400 ',
  '',
  '814,383',
  '',
  '4,451',
  '5',
  '45,193',
  '940',
  '4,335,116',
  '234,284',
  '18,503,654 ',
  'North America',
  '221,0634',
  '',
  '',
  '241'],
 ['70',
  'Latvia',
  '811,056',
  '+1,139',
  '5,695 ',
  '+8',
  '791,297',
  '+2,431',
  '14,064',
  '14',
  '438,601',
  '3,080',
  '7,114,713',
  '3,847,477',
  '1,849,189 ',
  'Europe',
  '23250',
  '616',
  '4',
  '7,605'],
 ['71',
  'New Zealand',
  '795,606',
  '+9,548',
  '497 ',
  '+14',
  '729,800',
  '+12,625',
  '65,309',
  '',
  '159,054',
  '99',
  '6,959,067',
  '1,391,229',
  '5,002,100 ',
  'Australia/Oceania',
  '610,0651',
  '1,909',
  '3',
  '13,056'],
 ['72',
  'Azerbaijan',
  '792,289',
  '',
  '9,703 ',
  '',
  '782,375',
  '',
  '211',
  '',
  '76,911',
  '942',
  '6,750,860',
  '655,334',
  '10,301,401 ',
  'Asia',
  '131,0622',
  '',
  '',
  '20'],
 ['73',
  'Panama',
  '767,438',
  '',
  '8,178 ',
  '',
  '757,024',
  '',
  '2,236',
  '9',
  '173,029',
  '1,844',
  '5,767,195',
  '1,300,291',
  '4,435,310 ',
  'North America',
  '65421',
  '',
  '',
  '504'],
 ['74',
  'Saudi Arabia',
  '752,078',
  '',
  '9,060 ',
  '',
  '737,748',
  '',
  '5,270',
  '73',
  '21,022',
  '253',
  '41,693,268',
  '1,165,395',
  '35,776,087 ',
  'Asia',
  '483,9491',
  '',
  '',
  '147'],
 ['75',
  'Sri Lanka',
  '662,717',
  '',
  '16,492 ',
  '',
  '642,516',
  '',
  '3,709',
  '',
  '30,720',
  '764',
  '6,477,329',
  '300,257',
  '21,572,631 ',
  'Asia',
  '331,3083',
  '',
  '',
  '172'],
 ['76',
  'Paraguay',
  '648,446',
  '',
  '18,734 ',
  '',
  '624,673',
  '',
  '5,039',
  '3',
  '88,974',
  '2,571',
  '2,615,453',
  '358,869',
  '7,288,046 ',
  'South America',
  '113893',
  '',
  '',
  '691'],
 ['77',
  'Kuwait',
  '630,641',
  '',
  '2,555 ',
  '',
  '626,843',
  '',
  '1,243',
  '4',
  '143,895',
  '583',
  '7,948,416',
  '1,813,605',
  '4,382,662 ',
  'Asia',
  '71,7151',
  '',
  '',
  '284'],
 ['78',
  'Myanmar',
  '612,406',
  '',
  '19,434 ',
  '',
  '591,029',
  '',
  '1,943',
  '',
  '11,123',
  '353',
  '7,798,434',
  '141,642',
  '55,057,295 ',
  'Asia',
  '902,8337',
  '',
  '',
  '35'],
 ['79',
  'Palestine',
  '581,678',
  '',
  '5,352 ',
  '',
  '575,613',
  '',
  '713',
  '17',
  '109,507',
  '1,008',
  '3,078,533',
  '579,564',
  '5,311,807 ',
  'Asia',
  '99922',
  '',
  '',
  '134'],
 ['80',

In [ ]:
final_data=[]
for i in data:
  if i[0] !="":
    final_data.append(i)
print(final_data)

[['#', 'Country,Other', 'TotalCases', 'NewCases', 'TotalDeaths', 'NewDeaths', 'TotalRecovered', 'NewRecovered', 'ActiveCases', 'Serious,Critical', 'Tot\xa0Cases/1M pop', 'Deaths/1M pop', 'TotalTests', 'Tests/', '1M pop', '', 'Population', 'Continent', '1 Caseevery X ppl1 Deathevery X ppl1 Testevery X ppl', 'New Cases/1M pop', 'New Deaths/1M pop', 'Active Cases/1M pop'], ['1', 'USA', '82,133,342', '', '1,013,044 ', '', '80,015,081', '', '1,105,217', '1,592', '245,579', '3,029', '992,445,691', '2,967,412', '334,448,237 ', 'North America', '43300', '', '', '3,305'], ['2', 'India', '43,038,016', '', '521,746 ', '', '42,505,410', '', '10,860', '698', '30,652', '372', '794,525,202', '565,866', '1,404,087,743 ', 'Asia', '332,6912', '', '', '8'], ['3', 'Brazil', '30,183,929', '', '661,552 ', '', '29,126,303', '', '396,074', '8,318', '140,233', '3,074', '63,776,166', '296,300', '215,241,599 ', 'South America', '73253', '', '', '1,840'], ['4', 'France', '27,163,629', '', '143,625 ', '', '24,344,051', '', '2,675,953', '1,541', '414,523', '2,192', '260,504,402', '3,975,351', '65,529,910 ', 'Europe', '24560', '', '', '40,836'], ['5', 'Germany', '22,936,514', '', '132,599 ', '', '19,179,300', '+286,200', '3,624,615', '1,980', '272,213', '1,574', '122,332,384', '1,451,852', '84,259,518 ', 'Europe', '46351', '', '', '43,017'], ['6', 'UK', '21,679,280', '', '170,395 ', '', '19,891,817', '', '1,617,068', '378', '316,398', '2,487', '511,253,697', '7,461,482', '68,519,051 ', 'Europe', '34020', '', '', '23,600'], ['7', 'Russia', '18,030,579', '+11,754', '372,512 ', '+267', '17,299,263', '+28,135', '358,804', '2,300', '123,459', '2,551', '273,400,000', '1,872,019', '146,045,544 ', 'Europe', '83921', '80', '2', '2,457'], ['8', 'S. Korea', '15,830,644', '+195,370', '20,034 ', '+184', 'N/A', 'N/A', 'N/A', '1,014', '308,304', '390', '15,804,065', '307,786', '51,347,510 ', 'Asia', '32,5633', '3,805', '4', '289,032'], ['9', 'Italy', '15,404,809', '', '161,032 ', '', '14,015,032', '', '1,228,745', '463', '255,452', '2,670', '207,155,729', '3,435,190', '60,304,008 ', 'Europe', '43740', '', '', '20,376'], ['10', 'Turkey', '14,972,502', '', '98,462 ', '', '14,673,980', '', '200,060', '975', '174,200', '1,146', '156,329,493', '1,818,843', '85,949,948 ', 'Asia', '68731', '', '', '2,328'], ['11', 'Spain', '11,662,214', '', '103,266 ', '', '11,120,708', '', '438,240', '368', '249,262', '2,207', '471,036,328', '10,067,692', '46,786,925 ', 'Europe', '44530', '', '', '9,367'], ['12', 'Vietnam', '10,272,964', '', '42,858 ', '', '8,757,107', '', '1,472,999', '1,237', '103,879', '433', '85,106,796', '860,593', '98,893,226 ', 'Asia', '102,3071', '', '', '14,895'], ['13', 'Argentina', '9,056,203', '', '128,268 ', '', '8,888,514', '', '39,421', '424', '197,166', '2,793', '35,657,472', '776,311', '45,931,949 ', 'South America', '53581', '', '', '858'], ['14', 'Netherlands', '8,001,830', '', '22,116 ', '', '7,146,067', '', '833,647', '101', '465,164', '1,286', '21,107,399', '1,227,019', '17,202,175 ', 'Europe', '27781', '', '', '48,462'], ['15', 'Iran', '7,199,861', '+2,356', '140,711 ', '+33', '6,930,509', '+3,467', '128,641', '1,376', '83,816', '1,638', '50,079,995', '582,996', '85,901,102 ', 'Asia', '126102', '27', '0.4', '1,498'], ['16', 'Japan', '7,124,030', '+51,331', '28,765 ', '+44', '6,591,109', '+44,733', '504,156', '468', '56,635', '229', '44,996,843', '357,716', '125,789,190 ', 'Asia', '184,3733', '408', '0.3', '4,008'], ['17', 'Colombia', '6,088,619', '', '139,729 ', '', '5,921,750', '', '27,140', '342', '117,438', '2,695', '34,183,285', '659,329', '51,845,560 ', 'South America', '93712', '', '', '523'], ['18', 'Indonesia', '6,036,909', '+1,551', '155,746 ', '+29', '5,814,688', '+3,022', '66,475', '2,771', '21,664', '559', '93,593,555', '335,873', '278,657,588 ', 'Asia', '461,7893', '6', '0.1', '239'], ['19', 'Poland', '5,981,486', '+1,269', '115,736 ', '+40', '5,333,900', '+84', '531,850', '268', '158,353', '3,064', '35,895,344', '950,290', '37,773,030 ', 'Europe', '63261', '34', '1', '14,080'], ['20', 'Mexico', '5,723,862', '+648', '323,805 ', '+78', '5,024,561', '+1,147', '375,496', '4,798', '43,581', '2,465', '15,683,615', '119,415', '131,337,245 ', 'North America', '234068', '5', '0.6', '2,859'], ['21', 'Australia', '5,206,999', '+53,380', '6,648 ', '+39', '4,692,067', '', '508,284', '126', '200,077', '255', '67,955,995', '2,611,177', '26,025,040 ', 'Australia/Oceania', '53,9150', '2,051', '1', '19,531'], ['22', 'Ukraine', '4,987,285', '', '108,167 ', '', 'N/A', 'N/A', 'N/A', '177', '115,267', '2,500', '19,521,252', '451,177', '43,267,404 ', 'Europe', '94002', '', '', '18,977'], ['23', 'Malaysia', '4,342,559', '', '35,341 ', '', '4,180,763', '', '126,455', '151', '131,187', '1,068', '57,608,005', '1,740,316', '33,102,028 ', 'Asia', '89371', '', '', '3,820'], ['24', 'Austria', '4,016,540', '+12,471', '16,324 ', '+38', '3,839,507', '+20,269', '160,709', '190', '441,493', '1,794', '179,853,312', '19,769,268', '9,097,621 ', 'Europe', '25570', '1,371', '4', '17,665'], ['25', 'Israel', '4,011,666', '', '10,601 ', '', '3,941,841', '', '59,224', '229', '430,159', '1,137', '41,373,364', '4,436,346', '9,326,000 ', 'Asia', '28800', '', '', '6,350'], ['26', 'Thailand', '3,948,869', '+23,015', '26,398 ', '+106', '3,689,792', '+27,626', '232,679', '1,496', '56,323', '377', '17,270,775', '246,335', '70,110,896 ', 'Asia', '182,6564', '328', '2', '3,319'], ['27', 'Belgium', '3,943,831', '', '31,079 ', '', '3,617,043', '', '295,709', '173', '337,681', '2,661', '33,220,032', '2,844,385', '11,679,161 ', 'Europe', '33760', '', '', '25,319'], ['28', 'Czechia', '3,872,522', '+4,034', '39,933 ', '+3', '3,792,591', '+2,219', '39,998', '69', '360,427', '3,717', '54,962,034', '5,115,484', '10,744,249 ', 'Europe', '32690', '375', '0.3', '3,723'], ['29', 'South Africa', '3,733,919', '', '100,116 ', '', '3,622,097', '', '11,706', '175', '61,579', '1,651', '24,094,335', '397,361', '60,635,919 ', 'Africa', '166063', '', '', '193'], ['30', 'Portugal', '3,697,653', '', '21,958 ', '', 'N/A', 'N/A', 'N/A', '61', '364,519', '2,165', '40,534,335', '3,995,919', '10,143,934 ', 'Europe', '34620', '', '', '78,817'], ['31', 'Philippines', '3,682,083', '+233', '59,891 ', '+113', '3,597,058', '+1,241', '25,134', '289', '32,826', '534', '29,224,500', '260,538', '112,169,737 ', 'Asia', '301,8734', '2', '1', '224'], ['32', 'Canada', '3,590,601', '', '38,095 ', '', '3,356,639', '', '195,867', '407', '93,677', '994', '60,047,384', '1,566,608', '38,329,563 ', 'North America', '111,0061', '', '', '5,110'], ['33', 'Peru', '3,552,467', '', '212,528 ', '', 'N/A', 'N/A', 'N/A', '378', '105,143', '6,290', '29,255,017', '865,865', '33,787,042 ', 'South America', '101591', '', '', '47,926'], ['34', 'Switzerland', '3,551,790', '', '13,767 ', '', '3,105,701', '', '432,322', '103', '405,133', '1,570', '20,548,491', '2,343,852', '8,766,974 ', 'Europe', '26370', '', '', '49,313'], ['35', 'Chile', '3,515,878', '', '57,094 ', '', '3,244,653', '', '214,131', '414', '181,161', '2,942', '36,191,093', '1,864,801', '19,407,481 ', 'South America', '63401', '', '', '11,033'], ['36', 'Greece', '3,195,887', '', '28,274 ', '', '3,002,224', '', '165,389', '356', '309,299', '2,736', '76,926,444', '7,444,962', '10,332,685 ', 'Europe', '33650', '', '', '16,006'], ['37', 'Denmark', '2,940,998', '', '5,932 ', '', '2,898,120', '', '36,946', '22', '504,597', '1,018', '127,005,063', '21,790,684', '5,828,411 ', 'Europe', '29830', '', '', '6,339'], ['38', 'Romania', '2,877,544', '+1,602', '65,285 ', '+27', '2,606,660', '', '205,599', '253', '151,371', '3,434', '22,396,439', '1,178,145', '19,009,910 ', 'Europe', '72911', '84', '1', '10,815'], ['39', 'Sweden', '2,491,980', '', '18,472 ', '', '2,450,948', '+405', '22,560', '22', '244,047', '1,809', '18,445,431', '1,806,418', '10,211,053 ', 'Europe', '45531', '', '', '2,209'], ['40', 'Iraq', '2,322,303', '', '25,186 ', '', '2,289,838', '', '7,279', '35', '55,526', '602', '18,403,689', '440,028', '41,823,873 ', 'Asia', '181,6612', '', '', '174'], ['41', 'Serbia', '1,991,620', '', '15,899 ', '', '1,948,245', '', '27,476', '23', '229,584', '1,833', '9,326,796', '1,075,147', '8,674,900 ', 'Europe', '45461', '', '', '3,167'], ['42', 'Bangladesh', '1,952,162', '+31', '29,124 ', '', '1,889,879', '+274', '33,159', '1,283', '11,648', '174', '13,905,661', '82,968', '167,601,817 ', 'Asia', '865,75512', '0.2', '', '198'], ['43', 'Hungary', '1,876,946', '+2,740', '45,838 ', '+26', '1,742,051', '+6,122', '89,057', '47', '195,173', '4,766', '11,233,362', '1,168,097', '9,616,809 ', 'Europe', '52101', '285', '3', '9,261'], ['44', 'Slovakia', '1,757,117', '+2,538', '19,643 ', '+25', '1,683,932', '+6,767', '53,542', '130', '321,561', '3,595', '6,995,626', '1,280,233', '5,464,336 ', 'Europe', '32781', '464', '5', '9,798'], ['45', 'Jordan', '1,694,216', '', '14,048 ', '', '1,678,941', '', '1,227', '124', '163,173', '1,353', '16,670,254', '1,605,544', '10,382,931 ', 'Asia', '67391', '', '', '118'], ['46', 'Georgia', '1,652,235', '+266', '16,781 ', '+2', '1,632,194', '+348', '3,260', '', '415,596', '4,221', '16,627,678', '4,182,459', '3,975,575 ', 'Asia', '22370', '67', '0.5', '820'], ['47', 'Pakistan', '1,526,829', '+101', '30,362 ', '', '1,487,073', '+113', '9,394', '262', '6,682', '133', '27,805,841', '121,687', '228,503,165 ', 'Asia', '1507,5268', '0.4', '', '41'], ['48', 'Ireland', '1,494,814', '', '6,903 ', '', '1,344,730', '', '143,181', '53', '296,844', '1,371', '11,942,846', '2,371,641', '5,035,689 ', 'Europe', '37290', '', '', '28,433'], ['49', 'Norway', '1,417,631', '', '2,667 ', '', 'N/A', 'N/A', 'N/A', '20', '257,916', '485', '11,002,430', '2,001,719', '5,496,490 ', 'Europe', '42,0610', '', '', '241,247'], ['50', 'Kazakhstan', '1,305,327', '+12', '13,660 ', '', '1,290,720', '+41', '947', '24', '68,073', '712', '11,575,012', '603,640', '19,175,355 ', 'Asia', '151,4042', '0.6', '', '49'], ['51', 'Hong Kong', '1,193,023', '', '8,886 ', '', 'N/A', 'N/A', 'N/A', '115', '156,875', '1,168', '44,972,952', '5,913,643', '7,604,949 ', 'Asia', '68560', '', '', '153,966'], ['52', 'Morocco', '1,164,135', '', '16,061 ', '', '1,147,355', '', '719', '293', '30,889', '426', '11,237,010', '298,166', '37,687,097 ', 'Africa', '322,3463', '', '', '19'], ['53', 'Bulgaria', '1,147,165', '', '36,740 ', '', '943,649', '', '166,776', '126', '167,332', '5,359', '9,715,339', '1,417,138', '6,855,607 ', 'Europe', '61871', '', '', '24,327'], ['54', 'Singapore', '1,145,121', '', '1,307 ', '', '1,076,802', '', '67,012', '19', '193,041', '220', '23,611,604', '3,980,367', '5,932,017 ', 'Asia', '54,5390', '', '', '11,297'], ['55', 'Croatia', '1,110,989', '+1,142', '15,707 ', '+5', '1,089,283', '+467', '5,999', '27', '273,620', '3,868', '4,731,537', '1,165,308', '4,060,332 ', 'Europe', '42591', '281', '1', '1,477'], ['56', 'Cuba', '1,097,675', '', '8,519 ', '', '1,086,730', '', '2,426', '23', '97,016', '753', '12,920,253', '1,141,936', '11,314,344 ', 'North America', '101,3281', '', '', '214'], ['57', 'Lebanon', '1,094,911', '', '10,350 ', '', '1,074,251', '', '10,310', '186', '161,701', '1,529', '4,795,578', '708,233', '6,771,191 ', 'Asia', '66541', '', '', '1,523'], ['58', 'Lithuania', '1,045,085', '+1,516', '8,988 ', '+6', '997,978', '+2,735', '38,119', '47', '393,646', '3,385', '8,157,182', '3,072,519', '2,654,884 ', 'Europe', '32950', '571', '2', '14,358'], ['59', 'Tunisia', '1,038,668', '', '28,509 ', '', 'N/A', 'N/A', 'N/A', '29', '86,282', '2,368', '4,547,755', '377,779', '12,038,131 ', 'Africa', '124223', '', '', '-1,134.31'], ['60', 'Slovenia', '990,719', '', '6,541 ', '', '956,300', '', '27,878', '32', '476,434', '3,146', '2,629,203', '1,264,377', '2,079,445 ', 'Europe', '23181', '', '', '13,406'], ['61', 'Nepal', '978,616', '', '11,951 ', '', '966,111', '', '554', '', '32,548', '397', '5,583,138', '185,691', '30,066,771 ', 'Asia', '312,5165', '', '', '18'], ['62', 'Belarus', '971,649', '+899', '6,885 ', '+3', '928,536', '', '36,228', '', '102,887', '729', '12,987,175', '1,375,206', '9,443,805 ', 'Europe', '101,3721', '95', '0.3', '3,836'], ['63', 'Finland', '920,692', '', '3,334 ', '', '46,000', '', '871,358', '33', '165,711', '600', '10,512,930', '1,892,176', '5,555,999 ', 'Europe', '61,6661', '', '', '156,832'], ['64', 'Bolivia', '903,584', '+107', '21,899 ', '', '850,086', '+655', '31,599', '220', '75,578', '1,832', '2,688,875', '224,905', '11,955,630 ', 'South America', '135464', '9', '', '2,643'], ['65', 'Uruguay', '894,630', '', '7,186 ', '', '884,306', '', '3,138', '29', '255,967', '2,056', '6,077,462', '1,738,852', '3,495,101 ', 'South America', '44861', '', '', '898'], ['66', 'UAE', '894,523', '+237', '2,302 ', '', '875,602', '+486', '16,619', '', '88,545', '228', '151,396,113', '14,985,997', '10,102,505 ', 'Asia', '114,3890', '23', '', '1,645'], ['67', 'Ecuador', '865,263', '', '35,508 ', '', 'N/A', 'N/A', 'N/A', '759', '47,756', '1,960', '2,470,170', '136,334', '18,118,525 ', 'South America', '215107', '', '', '21,297'], ['68', 'Costa Rica', '844,892', '', '8,357 ', '', '825,599', '', '10,936', '44', '163,211', '1,614', '4,163,300', '804,240', '5,176,690 ', 'North America', '66191', '', '', '2,113'], ['69', 'Guatemala', '836,234', '', '17,400 ', '', '814,383', '', '4,451', '5', '45,193', '940', '4,335,116', '234,284', '18,503,654 ', 'North America', '221,0634', '', '', '241'], ['70', 'Latvia', '811,056', '+1,139', '5,695 ', '+8', '791,297', '+2,431', '14,064', '14', '438,601', '3,080', '7,114,713', '3,847,477', '1,849,189 ', 'Europe', '23250', '616', '4', '7,605'], ['71', 'New Zealand', '795,606', '+9,548', '497 ', '+14', '729,800', '+12,625', '65,309', '', '159,054', '99', '6,959,067', '1,391,229', '5,002,100 ', 'Australia/Oceania', '610,0651', '1,909', '3', '13,056'], ['72', 'Azerbaijan', '792,289', '', '9,703 ', '', '782,375', '', '211', '', '76,911', '942', '6,750,860', '655,334', '10,301,401 ', 'Asia', '131,0622', '', '', '20'], ['73', 'Panama', '767,438', '', '8,178 ', '', '757,024', '', '2,236', '9', '173,029', '1,844', '5,767,195', '1,300,291', '4,435,310 ', 'North America', '65421', '', '', '504'], ['74', 'Saudi Arabia', '752,078', '', '9,060 ', '', '737,748', '', '5,270', '73', '21,022', '253', '41,693,268', '1,165,395', '35,776,087 ', 'Asia', '483,9491', '', '', '147'], ['75', 'Sri Lanka', '662,717', '', '16,492 ', '', '642,516', '', '3,709', '', '30,720', '764', '6,477,329', '300,257', '21,572,631 ', 'Asia', '331,3083', '', '', '172'], ['76', 'Paraguay', '648,446', '', '18,734 ', '', '624,673', '', '5,039', '3', '88,974', '2,571', '2,615,453', '358,869', '7,288,046 ', 'South America', '113893', '', '', '691'], ['77', 'Kuwait', '630,641', '', '2,555 ', '', '626,843', '', '1,243', '4', '143,895', '583', '7,948,416', '1,813,605', '4,382,662 ', 'Asia', '71,7151', '', '', '284'], ['78', 'Myanmar', '612,406', '', '19,434 ', '', '591,029', '', '1,943', '', '11,123', '353', '7,798,434', '141,642', '55,057,295 ', 'Asia', '902,8337', '', '', '35'], ['79', 'Palestine', '581,678', '', '5,352 ', '', '575,613', '', '713', '17', '109,507', '1,008', '3,078,533', '579,564', '5,311,807 ', 'Asia', '99922', '', '', '134'], ['80', 'Dominican Republic', '578,626', '', '4,375 ', '', '574,132', '', '119', '16', '52,407', '396', '3,251,191', '294,465', '11,041,006 ', 'North America', '192,5243', '', '', '11'], ['81', 'Estonia', '565,839', '+627', '2,501 ', '+3', '498,248', '+1,498', '65,090', '6', '426,045', '1,883', '3,284,566', '2,473,096', '1,328,119 ', 'Europe', '25310', '472', '2', '49,009'], ['82', 'Bahrain', '561,065', '', '1,473 ', '', '555,146', '', '4,446', '5', '310,588', '815', '9,657,213', '5,345,938', '1,806,458 ', 'Asia', '31,2260', '', '', '2,461'], ['83', 'Venezuela', '521,618', '', '5,697 ', '', '514,288', '', '1,633', '230', '18,436', '201', '3,359,014', '118,723', '28,292,923 ', 'South America', '544,9668', '', '', '58'], ['84', 'Moldova', '515,649', '', '11,471 ', '', '502,191', '', '1,987', '41', '128,356', '2,855', '3,188,832', '793,771', '4,017,321 ', 'Europe', '83501', '', '', '495'], ['85', 'Egypt', '511,977', '', '24,522 ', '', '442,182', '', '45,273', '122', '4,841', '232', '3,693,367', '34,922', '105,759,377 ', 'Africa', '2074,31329', '', '', '428'], ['86', 'Libya', '501,834', '', '6,429 ', '', '490,837', '', '4,568', '101', '71,312', '914', '2,475,203', '351,735', '7,037,130 ', 'Africa', '141,0953', '', '', '649'], ['87', 'Ethiopia', '470,108', '', '7,509 ', '', '453,586', '', '9,013', '17', '3,917', '63', '4,713,675', '39,276', '120,015,383 ', 'Africa', '25515,98325', '', '', '75'], ['88', 'Mongolia', '469,236', '+45', '2,177 ', '', '313,256', '', '153,803', '192', '139,157', '646', '4,030,048', '1,195,157', '3,371,981 ', 'Asia', '71,5491', '13', '', '45,612'], ['89', 'Cyprus', '461,531', '', '987 ', '', '124,370', '', '336,174', '60', '377,388', '807', '9,477,138', '7,749,338', '1,222,961 ', 'Asia', '31,2390', '', '', '274,885'], ['90', 'Armenia', '422,711', '+20', '8,621 ', '', '410,387', '+22', '3,703', '', '142,180', '2,900', '3,005,711', '1,010,977', '2,973,075 ', 'Asia', '73451', '7', '', '1,246'], ['91', 'Honduras', '421,268', '', '10,888 ', '', '131,100', '', '279,280', '105', '41,365', '1,069', '1,263,329', '124,048', '10,184,175 ', 'North America', '249358', '', '', '27,423'], ['92', 'Oman', '388,763', '+22', '4,257 ', '+1', '383,809', '+33', '697', '5', '72,843', '798', '25,000,000', '4,684,263', '5,337,019 ', 'Asia', '141,2540', '4', '0.2', '131'], ['93', 'Bosnia and Herzegovina', '376,264', '', '15,742 ', '', '192,218', '', '168,304', '', '115,966', '4,852', '1,746,113', '538,160', '3,244,598 ', 'Europe', '92062', '', '', '51,872'], ['94', 'Qatar', '363,031', '', '677 ', '', '361,138', '', '1,216', '1', '129,294', '241', '3,418,486', '1,217,494', '2,807,805 ', 'Asia', '84,1471', '', '', '433'], ['95', 'Runion', '360,445', '', '731 ', '', '342,442', '', '17,272', '10', '397,555', '806', '1,603,660', '1,768,767', '906,654 ', 'Africa', '31,2401', '', '', '19,050'], ['96', 'Kenya', '323,583', '', '5,649 ', '', '317,801', '', '133', '', '5,791', '101', '3,554,588', '63,619', '55,872,756 ', 'Africa', '1739,89116', '', '', '2'], ['97', 'Zambia', '317,804', '', '3,967 ', '', '313,073', '', '764', '', '16,469', '206', '3,382,643', '175,292', '19,297,192 ', 'Africa', '614,8646', '', '', '40'], ['98', 'North Macedonia', '307,967', '', '9,256 ', '', '297,600', '', '1,111', '', '147,832', '4,443', '1,984,493', '952,608', '2,083,222 ', 'Europe', '72251', '', '', '533'], ['99', 'Botswana', '305,859', '', '2,688 ', '', '303,026', '', '145', '1', '125,564', '1,104', '2,026,898', '832,102', '2,435,878 ', 'Africa', '89061', '', '', '60'], ['100', 'Albania', '274,236', '', '3,494 ', '', '270,378', '', '364', '2', '95,479', '1,216', '1,787,376', '622,298', '2,872,219 ', 'Europe', '108222', '', '', '127'], ['101', 'Algeria', '265,730', '', '6,874 ', '', '178,327', '', '80,529', '6', '5,872', '152', '230,861', '5,101', '45,256,195 ', 'Africa', '1706,584196', '', '', '1,779'], ['102', 'Nigeria', '255,633', '', '3,142 ', '', '249,825', '', '2,666', '11', '1,188', '15', '4,977,858', '23,131', '215,203,368 ', 'Africa', '84268,49243', '', '', '12'], ['103', 'Zimbabwe', '247,094', '', '5,460 ', '', '240,584', '', '1,050', '12', '16,206', '358', '2,219,566', '145,575', '15,246,924 ', 'Africa', '622,7927', '', '', '69'], ['104', 'Uzbekistan', '238,145', '+47', '1,637 ', '', '236,057', '+28', '451', '23', '6,937', '48', '1,377,915', '40,137', '34,330,089 ', 'Asia', '14420,97125', '1', '', '13'], ['105', 'Montenegro', '233,834', '', '2,708 ', '', '230,676', '', '450', '6', '372,224', '4,311', '2,434,120', '3,874,710', '628,207 ', 'Europe', '32320', '', '', '716'], ['106', 'Luxembourg', '226,339', '', '1,051 ', '', '210,026', '', '15,262', '3', '351,430', '1,632', '4,191,996', '6,508,795', '644,051 ', 'Europe', '36130', '', '', '23,697'], ['107', 'Mozambique', '225,301', '', '2,200 ', '', '223,058', '', '43', '13', '6,867', '67', '1,303,571', '39,733', '32,808,668 ', 'Africa', '14614,91325', '', '', '1'], ['

In [ ]:
import csv
f=open('data.csv','w')
x=csv.writer(f)
for i in final_data:
  x.writerow(i)

In [ ]:
import pandas as pd
df=pd.read_csv('data.csv')
df

,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",...,TotalTests,Tests/,1M pop,Unnamed: 15,Population,Continent,1 Caseevery X ppl1 Deathevery X ppl1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
0,1,USA,"82,133,342",NaN,"1,013,044",NaN,"80,015,081",NaN,"1,105,217","1,592",...,"992,445,691","2,967,412","334,448,237",North America,43300,NaN,NaN,"3,305",NaN,NaN
1,2,India,"43,038,016",NaN,"521,746",NaN,"42,505,410",NaN,"10,860",698,...,"794,525,202","565,866","1,404,087,743",Asia,"332,6912",NaN,NaN,8,NaN,NaN
2,3,Brazil,"30,183,929",NaN,"661,552",NaN,"29,126,303",NaN,"396,074","8,318",...,"63,776,166","296,300","215,241,599",South America,73253,NaN,NaN,"1,840",NaN,NaN
3,4,France,"27,163,629",NaN,"143,625",NaN,"24,344,051",NaN,"2,675,953","1,541",...,"260,504,402","3,975,351","65,529,910",Europe,24560,NaN,NaN,"40,836",NaN,NaN
4,5,Germany,"22,936,514",NaN,"132,599",NaN,"19,179,300","+286,200","3,624,615","1,980",...,"122,332,384","1,451,852","84,259,518",Europe,46351,NaN,NaN,"43,017",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,177,Liechtenstein,"16,865",+31,84,NaN,"16,432",+36,349,1,...,"102,174","2,666,197","38,322",Europe,24560,809,NaN,"9,107",NaN,NaN
177,178,Equatorial Guinea,"15,904",NaN,183,NaN,"15,696",NaN,25,5,...,"303,365","204,324","1,484,727",Africa,"938,1135",NaN,NaN,17,NaN,NaN
178,179,San Marino,"15,683",NaN,114,NaN,"15,225",NaN,344,4,...,"147,532","4,331,787","34,058",Europe,22990,NaN,NaN,"10,100",NaN,NaN
179,180,Djibouti,"15,595",NaN,189,NaN,"15,404",NaN,2,NaN,...,"301,133","297,122","1,013,500",Africa,"655,3623",NaN,NaN,2,NaN,NaN
180,181,CAR,"14,649",NaN,113,NaN,"6,859",NaN,"7,677",2,...,"81,294","16,328","4,978,786",Africa,"34044,06061",NaN,NaN,"1,542",NaN,NaN

In [ ]:
totalcases=[]
TotalCases=list(df.iloc[0:10]['TotalCases'])
for i in TotalCases:
  totalcases.append(int(i.replace(',','')))
totalcases

[82133342,
 43038016,
 30183929,
 27163629,
 22936514,
 21679280,
 18030579,
 15830644,
 15404809,
 14972502]

In [ ]:
Country_Other=list(df.iloc[0:10]['Country,Other'])
Country_Other

['USA',
 'India',
 'Brazil',
 'France',
 'Germany',
 'UK',
 'Russia',
 'S. Korea',
 'Italy',
 'Turkey']

In [ ]:
import plotly.graph_objects as go

fig = go.Figure([go.Bar(x=Country_Other, y=totalcases)])
fig.show()

In [ ]:
!pip install plotly==5.7.0

Collecting plotly==5.7.0
  Downloading plotly-5.7.0-py2.py3-none-any.whl (28.8 MB)
     || 28.8 MB 1.5 MB/s
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly==5.7.0) (1.15.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly==5.7.0) (8.0.1)
Installing collected packages: plotly
  Attempting uninstall: plotly
    Found existing installation: plotly 5.5.0
    Uninstalling plotly-5.5.0:
      Successfully uninstalled plotly-5.5.0
Successfully installed plotly-5.7.0